*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: 0%;
    height: 100%;
    background-image: url(../images/skyWP.png);
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;

}
header .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header h1{
    color: white;
}
header nav{
    margin-left: 25%;
}
header a{
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    position: relative;
    font-weight: 500;
    transition: .5s;
}

header a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    left: 0;
    bottom: -5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

header a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
header .button1{
    width: 130px;
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
    border: 2px solid white;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1.1em;
    color: white;
    margin-left: 30px;
    transition: .5s;
}

header .button1:hover{
    background: rgba(255, 255, 0, .5);
    cursor: pointer;
}




@media only screen and (max-width : 885px){
    nav{
        display: none;
    }
}